@{
    ViewData["Title"] = "Home";
}

<component inline-template is="homeIndexPage">
    <div ref="innerPage">
        <v-container grid-list-lg fluid>
            <v-layout row wrap class="full-height">
                <v-flex xs12 md12>
                    <v-card width="100%">
                        <v-card-title>
                            <h2>My App</h2>
                        </v-card-title>
                        <v-card-text>
                            <v-layout row wrap>
                                <v-flex xs12 d-flex>
                                    <p>Placeholder</p>
                                </v-flex>
                                <v-flex xs12 d-flex>
                                    <test-component title="Starter Test"></test-component>
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                        <v-card-actions>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</component>

@section Scripts {
}